.check {
  position: relative;
  margin-bottom: 20px;
}
.check--all {
  .check__label {
    padding-left: 25px;
  }
}
.ckeck__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearence: none;
  appearance: none;
}

.check__label {
  font-size: 12px;
  line-height: 16px;
  padding-left: 60px;
  color: #212121;
  cursor: pointer;
}

.check__label::before {
  content: "";
  display: block;

  width: 16px;
  height: 16px;

  background-color: #f2f2f2;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  transition: background 0.2s ease 0s, border 0.2s ease 0s;
}

.check__label::after {
  content: "";
  display: block;
  transform: rotate(45deg);
  height: 10px;
  width: 5px;
  border-bottom: 2px solid #1071ff;
  border-right: 2px solid #1071ff;

  position: absolute;
  bottom: 4px;
  left: 6px;
  z-index: 2;

  opacity: 0;
  transition: opacity 0.2s ease 0s;
}

.ckeck__input:disabled + .check__label::after {
  opacity: 1;
  border-bottom: 2px solid #bdbdbd;
  border-right: 2px solid #bdbdbd;
}
.ckeck__input:checked + .check__label::after {
  opacity: 1;
}
